<a class="history_back" onclick="history.back()">Vrati se</a>
<form action="/admin/add-product" method="POST" enctype="multipart/form-data">
  <label for="name">Naziv proizvoda</label>
  <input type="text" id="name" name="name" required>

  <label for="description">Kratak opis</label>
  <textarea id="description" name="description" required></textarea>

  <label for="price">Cijena (€)</label>
  <input type="number" id="price" name="price" required>

  <label for="stock_quantity">Kolicina</label>
  <input type="number" id="stock_quantity" name="stock_quantity" required>

  <label for="size">Velicina</label>
  <div class="sizes" id="sizesContainer"></div>
  <button type="button" onclick="addSize()">Dodaj</button>


  <label for="image">Slike proizvoda:</label>
  <div class="uploadOuter">
    <button type="button" id="uploadFile" onclick="triggerFileInput()">Upload image</button>
    <strong>OR</strong>
    <span class="dragBox">
      Drag and Drop image here
      <input type="file" onChange="dragNdrop(event)" ondragover="drag()" ondrop="drop()" id="images" name="images"
        accept="image/*" multiple />
    </span>
  </div>
  <div id="preview"></div>

  <label for="material">Materijal</label>
  <select name="material" id="material">
    <% materials.forEach(material=> { %>
      <option value="<%= material %>">
        <%= material %>
      </option>
      <% }); %>
  </select>
  <div id="productTypeContainer">
    <input type="text" class="new_material new_category" id="new_material" name="new_material"
      placeholder="Enter new material" disabled>
    <input type="checkbox" onclick="addNewProductType()" name="check_new_material" id="check_new_material">
  </div>


  <label for="category">Nakit</label>
  <select name="category" id="category">
    <% categories.forEach(category=> { %>
      <option value="<%= category %>">
        <%= category %>
      </option>
      <% }); %>
  </select>
  <div id="subcategoryContainer">
    <input type="text" class="new_category new_category" id="new_category" name="new_category"
      placeholder="Enter new subcategory" disabled>
    <input type="checkbox" onclick="addNewSubcategory()" name="check_new_category" id="check_new_category">
  </div>


  <label for="details">Detalji</label>
  <div class="details" id="detailsContainer">

  </div>


  <button type="button" onclick="addDetailsField()">Dodaj detalj</button>


  <h1>Popust</h1>

  <label for="percentage">Postotak popusta (%)</label>
  <input type="number" id="percentage" name="percentage"  min="0" max="100">

  <label for="start_date">Od</label>
  <input type="date" id="start_date"  name="start_date">

  <label for="end_date">Do</label>
  <input type="date" id="end_date" name="end_date">

  <label for="discount_active">Aktivnost</label>
  <input type="checkbox" id="discount_active" name="discount_active" >

  <button type="submit">Add Product</button>
</form>

<script>

  function addNewProductType() {
    if (check_new_material.checked == true) {
      new_material.classList.add('isChecked');
      new_material.disabled = false;
      material.disabled = true;
    }
    else {
      new_material.classList.remove('isChecked');
      new_material.disabled = true;
      material.disabled = false;

    }
  }
  function addNewSubcategory() {
    if (check_new_category.checked == true) {
      new_category.classList.add('isChecked');
      new_category.disabled = false;
      category.disabled = true;

    }
    else {
      new_category.classList.remove('isChecked');
      new_category.disabled = true;
      category.disabled = false;

    }
  }


  function addDetailsField() {
    const detailsContainer = document.getElementById('detailsContainer');

    const newDetailsField = document.createElement('div');
    newDetailsField.className = 'detailsField';

    const newInputKey = document.createElement('input');
    newInputKey.type = 'text';
    newInputKey.required = true;
    newInputKey.name = 'detailsKey[]';
    newInputKey.pattern = '^[a-zA-Z0-9]+$';
    newInputKey.placeholder = 'Enter detail key';

    const newInputValue = document.createElement('input');
    newInputValue.type = 'text';
    newInputValue.required = true;
    newInputValue.name = 'detailsValue[]';
    newInputValue.placeholder = 'Enter detail value';

    const removeButton = document.createElement('button');
    removeButton.type = 'button';
    removeButton.textContent = 'Remove';
    removeButton.onclick = function () {
      newDetailsField.remove();
    };

    newDetailsField.append(newInputKey, newInputValue, removeButton);
    detailsContainer.appendChild(newDetailsField);
  }


  function dragNdrop(event) {
    const files = event.target.files;
    const preview = document.getElementById('preview');

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const fileName = file.name;

      const fileContainer = document.createElement('div');

      const previewText = document.createElement('p');
      previewText.textContent = fileName;
      fileContainer.appendChild(previewText);

      const deleteButton = document.createElement('button');
      deleteButton.textContent = 'Delete';
      deleteButton.onclick = function () {
        fileContainer.remove();
      };

      fileContainer.appendChild(deleteButton);

      preview.appendChild(fileContainer);
    }
  }

  function drag() {
    document.getElementById('uploadFile').parentNode.className = 'draging dragBox';
  }

  function drop() {
    document.getElementById('uploadFile').parentNode.className = 'dragBox';
  }

  function triggerFileInput() {
    document.getElementById('images').click();
  }


  function addSize() {
    const detailsContainer = document.getElementById('sizesContainer');

    const newSize = document.createElement('input');
    newSize.type = 'text';
    newSize.name = 'newSize[]';
    newSize.placeholder = 'Enter new size';

    const newSizeWrapper = document.createElement('div');

    const removeButton = document.createElement('button');
    removeButton.type = 'button';
    removeButton.textContent = 'Remove';
    removeButton.onclick = function () {
      newSizeWrapper.remove();
    };

    newSizeWrapper.append(newSize, removeButton)
    detailsContainer.append(newSizeWrapper);
  }

</script>