<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !='undefined' ? title: 'Admin Panel' %></title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dashboard.css">

  <% switch (currentPath) { case '/admin/users' : %>
    <link rel="stylesheet" href="/css/users.css">
    <% break; case '/admin/list-products' : %>
    <link rel="stylesheet" href="/css/products.css">
    <% break; case '/admin/order' : %>
    <link rel="stylesheet" href="/css/order.css">
    <% break; case '/profil' : %>
    <link rel="stylesheet" href="/css/profil.css">
<% break; default: break; } %>

</head>
<body>

  <nav class="admin-nav">
    <a class="home underline_hover" href="/">Lato</a>

      <ul>
        <li><a class="underline_hover" href="/admin/users">Korisnici</a></li>
        <li><a class="underline_hover" href="/admin/list-products">Uredi proizvod</a></li>
        <li><a class="underline_hover" href="/admin/add-product">Dodaj proizvod</a></li>
        <li><a class="underline_hover" href="/admin/categories">Kategorije</a></li>
        <li><a class="underline_hover" href="/admin/orders">Narudzbe</a></li>
      </ul>
  </nav>


    <main class="admin-main">
      <%- body -%>
    </main>

    <script src="/js/index.js"></script>

   

</body>
  
</html>