
<div class="no-page">
  <div>
    <h1>404</h1>
    <span>Stranica nije pronađena</span>
  </div>
  <a class="underline_hover" href="\">Vrati se na početnu</a>
</div>

<script>
 document.body.classList.add('isHidden');
</script>
