
<% if (user) { %>


  <% if (user && user_products.length > 0) { %>
    <%- include ('partials/user_cart.ejs')%>

  <% } else { %>
    <p>Nema proizvoda u kartici.</p>
    <a href="/products">Odaberite neki od proizvoda iz naše ponude i dodajte u košaricu.</a>
  <% } %>



<% } else if (guest_products && cart_items.length > 0) { %> 


    <%- include ('partials/guest_cart.ejs')%>

    
<% } else { %>
  <p>Nema proizvoda u kartici.</p>
  <a href="/products">Odaberite neki od proizvoda iz naše ponude i dodajte u košaricu.</a>
<% } %>
