<section class="cart_section">

<% if (user) { %>


  <% if (user && user_products.length > 0) { %>
    <%- include ('partials/user_cart.ejs')%>

  <% } else { %>
      <div class="no_articles">
        <p>Trenutno nema proizvoda u košarici.</p>
      </div>
  <% } %>



<% } else if (guest_products && cart_items.length > 0) { %> 


    <%- include ('partials/guest_cart.ejs')%>

    
<% } else { %>
    <div class="no_articles">
      <p>Trenutno nema proizvoda u košarici.</p>
    </div>
<% } %>
</section>
