<section class="forgot_password-section">
  <h1>Povrati lozinku</h1>

  <form id="forgotPasswordForm" action="/forgot-password" method="POST">
    <input type="email" id="email" name="email" placeholder="E-mail" required>
    <button type="submit">Pošalji</button>
  </form>

  <div class="pop_message"></div>
</section>


<script>
  const handleSubmission = async (event) => {
    event.preventDefault(); 

    const section = document.querySelector('.forgot_password-section');
    const pop_message = document.querySelector('.pop_message');
    const form = document.getElementById('forgotPasswordForm');
    const formData = new FormData(form);

    try {
      const response = await fetch(form.action, {
        method: form.method,
        body: formData,
      });

      const data = await response.json();

      if (response.ok) {
        if (data.message) section.textContent = data.message;
        else if (data.error) pop_message.textContent = data.error;
      } 
      else 
        section.textContent = 'Greška, molimo pokušajte kasnije.';
      

      if(section.classList.contains('isResized')) section.classList.remove('isResized');
    } catch (error) {
      console.error('Greška:', error);
      section.textContent = 'Greška, molimo pokušajte kasnije.';

    }
    if (pop_message.textContent != '') section.classList.add('isResized');
  };

  document.getElementById('forgotPasswordForm').addEventListener('submit', handleSubmission);
</script>