<!-- views/login.ejs -->

    <div class="container login_container">
      <section data-animate class="wrapper">
          <h1>Prijavi se</h1>
          <p>Novi korisnik? 
            <span><a href="/register" class="text text-links">Stvorite račun</a></span>
          </p>
        <form name="signin" action="/login" method="POST" class="login_form">
          <input type="hidden" name="redirect" value="<%= redirectUrl %>">
            <input type="email" name="email" id="email" class="input-field" placeholder="Email" required  >
            <div class="input-control">
              <input type="password" name="password" id="password" class="input-field"  required placeholder="Lozinka" autocomplete="off">
              <svg onclick="showPassword()"  id="eyeHidden" width="24" height="24" viewBox="0 0 15 15"><path fill="currentColor" fill-rule="evenodd" d="M13.354 2.354a.5.5 0 0 0-.708-.708L10.683 3.61A8.475 8.475 0 0 0 7.5 3C4.308 3 1.656 4.706.076 7.235a.5.5 0 0 0 0 .53c.827 1.323 1.947 2.421 3.285 3.167l-1.715 1.714a.5.5 0 0 0 .708.708l1.963-1.964c.976.393 2.045.61 3.183.61c3.192 0 5.844-1.706 7.424-4.235a.5.5 0 0 0 0-.53c-.827-1.323-1.947-2.421-3.285-3.167zm-3.45 2.035A7.517 7.517 0 0 0 7.5 4C4.803 4 2.53 5.378 1.096 7.5c.777 1.15 1.8 2.081 3.004 2.693zM5.096 10.61L10.9 4.807c1.204.612 2.227 1.543 3.004 2.693C12.47 9.622 10.197 11 7.5 11a7.518 7.518 0 0 1-2.404-.389" clip-rule="evenodd"/></svg>
              <svg onclick="showPassword()"  id="eyeVisible" width="24" height="24" viewBox="0 0 15 15"><path fill="currentColor" fill-rule="evenodd" d="M7.5 11c-2.697 0-4.97-1.378-6.404-3.5C2.53 5.378 4.803 4 7.5 4s4.97 1.378 6.404 3.5C12.47 9.622 10.197 11 7.5 11m0-8C4.308 3 1.656 4.706.076 7.235a.5.5 0 0 0 0 .53C1.656 10.294 4.308 12 7.5 12s5.844-1.706 7.424-4.235a.5.5 0 0 0 0-.53C13.344 4.706 10.692 3 7.5 3m0 6.5a2 2 0 1 0 0-4a2 2 0 0 0 0 4" clip-rule="evenodd"/></svg>
            </div>
          <div class="input-control">
            <a href="/forgot-password" class="text text-links">Zaboravili ste lozinku?</a>
            <button type="submit" name="submit" class="input-submit" >Prijavi se</button>
          </div>
          <div class="pop_message"></div>
        </form>
      </section>
    </div>

<script>

  function showPassword(){
    password.type = (password.type === "password") ? "text" : "password";
    eyeVisible.style.visibility = (password.type === "password") ? "hidden" : "visible";
    eyeHidden.style.visibility = (password.type === "password") ? "visible" : "hidden";
  }


  const sub_btn = document.querySelector('.input-submit');
  


  const loginUser = async (e) =>{
    try {
              e.preventDefault();

              const pop_message = document.querySelector('.pop_message');
              const form = document.querySelector('.login_form');
              const email = form.querySelector('#email').value;
              const password = form.querySelector('#password').value;


              const response = await fetch(`/login`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, password })
              });
              const data = await response.json();

              if (response.ok) {

                if (data.success) window.location.href = data.redirectUrl;
                else if (data.error) pop_message.textContent = data.error;
              } 
              else 
                 pop_message.textContent = data.error;


            } catch (error) {
                console.error('Error:', error);
            }

  }

  sub_btn.addEventListener('click', loginUser);
  sub_btn.addEventListener('touch', loginUser);

</script>