<section class="forgot_password-section" >
  <h1>Ponovno postavljanje lozinke</h1>

  <%if (!locals.error) { %>
    <form id="reset_form"  action="/reset-pass/<%= locals.token %>" method="POST">
      <input type="password" id="password" name="password" placeholder="Nova lozinka"  required>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Potvrdi lozinku" required>
      <button type="submit">Postavi novu lozinku</button>
    </form>
  <% } else{  %>
  <%= locals.error %>
    <% } %>

  <div class="pop_message"></div>

</section>


<script>

  const handleSubmission = async (event) => {
    event.preventDefault();

    const section = document.querySelector('.forgot_password-section');
    const pop_message = document.querySelector('.pop_message');
    const form = document.getElementById('reset_form');
    const formData = new FormData(form);

    try {

      console.log("form.action", form.action);
      const response = await fetch(form.action, {
        method: form.method,
        body: formData,
      });

      const data = await response.json();

      if (response.ok) {
        if (data.success) window.location.href = data.redirectUrl;
        else if (data.error) pop_message.textContent = data.error;
      } 
      else 
        section.append('Greška, molimo pokušajte kasnije.') ;
      
      
    } catch (error) {
      console.error('Greška:', error);
      section.append('Greška, molimo pokušajte kasnije.') ;

    }

    if (pop_message.textContent != '') section.classList.add('isResized');
  };

  document.getElementById('reset_form').addEventListener('submit', handleSubmission);
</script>