
/* fix it allllllllllllll  */
body {
  display: grid;
  grid-template-columns: .2fr 1fr;
}

.admin-nav {
  height: 100%;
  display: flex;
  width: 160px;
  justify-content: center;
  background: var(--clr-bg2);

}

.admin-nav .home {
  position: fixed;
  z-index: 2;
  top: 2rem;
  color: var(--clr-fg2);
  font-family: "Erotique";

}
.order_search {
  background-color: transparent;
  color: rgb(var(--clr-fg));
  border: 1px solid currentColor;
  padding: 1rem;
  outline: none;
  width: 100%;
  margin: 2rem 0;
}
.admin-nav ul {
  position: fixed;
  display: flex;
  height: 100%;
  width: 160px;
  padding: .5rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  background: var(--clr-bg2);
}

.admin-nav ul li {
  display: flex;
  border: 1px solid var(--clr-fg2);
  padding: 1rem;
}

.admin-nav ul li a {
  color: var(--clr-fg2);
}


.uploadOuter {
  text-align: center;
  padding: 20px;
}

strong {
  padding: 0 10px
}

.dragBox {
  width: 250px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-weight: bold;
  line-height: 95px;
  color: #999;
  border: 2px dashed #ccc;
  display: inline-block;
  transition: transform 0.3s;
}

.uploadOuter input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.draging {
  transform: scale(1.1);
}
#preview div{
  display: flex;
}

#preview img{
  width: 50px;
}


form, .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


form input[type="date"] {
  width: max-content;
}

button#submit {
  margin-top: 2rem;
  align-self: flex-end;
}

.input-delete::before {
  background: red;
}

.details{
  display: flex;
  flex-direction: column;
}

.new_category{
  border: 1px solid #00000079;
}
.new_category.isChecked{
  border: 1px solid rgb(var(--clr-fg));
}



/* Order */


.change_order_status{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--clr-fg));
  width: 300px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(var(--clr-bg));
  visibility: hidden;
  opacity: 0;
}
.change_order_status.in-view{
  visibility: visible;
  opacity: 1;
}
.change_order_status .btn_close_orderFrom{
  position: absolute;
  top: 0;
  right: 0;
}

.order_select_status{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 1rem;
  z-index: 1;
}
.order_select_status .order_select{
  position: relative;
  width: 150px;
  height: 100px;
}
.order_select_status .order_select span{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  color: rgb(var(--clr-fg));
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.order_select_status .order_select input[type="radio"]{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance:none; 
  border: 0;
  outline: 0;
}
.order_select_status .order_select i {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(var(--clr-fg), 0.6);
  z-index: -1;
}
.order_select_status .order_select input[type="radio"]:checked + i{
  border: 2px solid rgba(var(--clr-fg), 1);
}
.order_select_status .order_select input[type="radio"]:checked ~ span{
  font-weight: bold;
}
.order_select_status .order_select input[type="radio"]:checked ~ span svg path{
  stroke: rgba(var(--clr-fg), 1);
  stroke-width: 0.2px;
}
.order_select_status .order_select input[type="radio"][disabled]{
cursor:  not-allowed;
}

.orders_section{
  margin: 2rem 0;
}
.setting_section{
  margin: 3rem 2rem;
}

.table_wrap{
  width: 100%;
  overflow-x: auto;
}


.orders_table .delivered td{
  color: #00000079;
}
.orders_table .delivered:hover td{
  color: #ccc;
}

.add_product_section{
  margin: 3rem 2rem;
}



.orders_table{
  width: 100%;
  border-collapse:collapse ;
}
.orders_table th{
  text-align: left;
  text-transform: lowercase;
  padding: 1rem;
  border-top: 0.3px solid rgba(var(--clr-fg), 0.7);
  background: rgba(var(--clr-fg), 1);
  color: rgb(var(--clr-bg));
  letter-spacing: 0.5px;
  font-variant: small-caps;
}

.orders_table td{
  padding: 1rem;
  border-bottom: 0.3px solid rgba(var(--clr-fg), 0.7);
}

.orders_table tbody tr:hover{
  cursor: pointer;
  background: rgba(var(--clr-fg), 0.9);
  color: rgba(var(--clr-bg), 1);
}



.category_images_preview img{
  width: 300px;
}

#filterForm{
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}


#checklist {
  position: relative;
  display: flex;
  justify-content: center;
}

#checklist label {
  color: rgba(var(--clr-fg), 0.8);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  transition: color 0.3s ease;
  margin-right: 20px;
  user-select: none;
}

#checklist label::before, #checklist label::after {
  content: "";
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: rgb(var(--clr-fg));
  border-radius: 2px;
  transition: background 0.3s ease;
  opacity: 0;
}


#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  display: grid;
  align-items: center;
  margin-right: 20px;
}



#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}


#checklist input[type="checkbox"]:checked + label {
  color: rgba(var(--clr-fg), .5);
  animation: move 0.3s ease 0.1s forwards;
}


#checklist input[type="checkbox"]:checked + label::before {
  background: rgba(var(--clr-fg), .5);
  animation: slice 0.4s ease forwards;
}


@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
    opacity: 1;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
    opacity: 1;

  }
}
#sizesContainer, #detailsContainer{
  display: flex;
  flex-direction: column;
}
#sizesContainer div, #detailsContainer div{
  display: flex;
  gap: 1rem;
}

.basic_details_article{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.basic_details_article div{
  display: flex;
  width: 100%;
  gap: 1rem;
}
.basic_details_article div div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.category_article{
  display: flex;
  gap: 1rem;
}
.category_article > div{
  flex:1;
  width: 100%;
}
.category_article > div *,
.basic_details_article > div *{
  width: inherit;
  margin: 0.5rem 0;
}
.category_article div input[type="checkbox"] {
  width: 200px;
  align-self: flex-end;
  position: relative;
  -webkit-appearance: none; 
  -moz-appearance: none; 
   appearance: none;
   cursor: pointer;
  outline: 1px solid rgb(var(--clr-fg));
}
.category_article div input[type="checkbox"]:checked {
  background: rgb(var(--clr-fg));
  color: rgb(var(--clr-bg));
}
.category_article div input[type="checkbox"]::before {
  position: absolute;
  content: 'Uredi';
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.discount_wapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.discount_wapper div{
  display: flex;
  justify-content: center;
  gap: 1rem;
}