body{
  height: 100%;
  width: 100%;
  position: fixed !important;
  overflow: hidden !important;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  min-width: 400px;
  padding: 3rem;
  border: 0.2px solid rgb(var(--clr-fg));
}
.container .wrapper .login_form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .wrapper .login_form input {
  width: 100%;
}
.container .wrapper .login_form .input-control{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.container .wrapper  a{
  color: rgba(var(--clr-fg), 0.8);
  text-decoration: none;
  height: max-content;
}
.input-control svg{
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.input-control #eyeVisible{
  visibility: hidden;
}
.input-control svg path{
  fill: rgba(var(--clr-fg),0.8);
}

@media only screen and (max-width: 450px) {
  main{
    padding-inline: .5rem;
  }
  .container .wrapper{
    width: 100%;
    min-width: 100%;
  }
  
}

.pop_message{
  position: absolute;
  bottom: 1.5rem;
}

.login_container{
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
}