@font-face {
  src: url('../font/Almarena-Light.woff') format('woff');
  font-family: 'Almarena-Light';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Lenora-Bold";
  src: url("../font/LenoraPremium-Bold.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lenora-Thin";
  src: url("../font/LenoraPremium-Thin.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Erotique";
  src: url("../font/Erotique-Bold.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "kudryashev";
  src: url("../font/kudryashev.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

 @supports (-webkit-appearance: none) or (scrollbar-width: none) {
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@supports (scrollbar-width: none) {
  html {
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    width: 0;
  }

  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}  

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-bg: #141414;
  --clr-fg: #F0F0F0;


  --clr-fg1: #F5F1F0;
  --clr-bg1: rgb(27, 23, 22);


  --clr-bg: 246, 224, 200; 
  --clr-fg: 83, 71, 65;


  --clr-fg: 27, 23, 22;
  --clr-bg: 245, 241, 240; 


  --clr-bg3: #6E8880; 
  --clr-fg3: #E7E3F1; 

  --clr-bg4: #F9F4F0;
  --clr-fg4: #816246;


  --clr-bg5: #E3E3DB;
  --clr-fg5: #2D322C;
  --clr-fg5: #87907F;

  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  /* --clr-fg: 46, 44, 57; */
  /* --clr-bg: 231, 227, 241; */
}

.noise {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  position: fixed;
  pointer-events: none;
  opacity: 1;

}

.noise:before {
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 2000;
  content: "";
  position: absolute;
  pointer-events: none;
  background-position: 50%;
  background-image: url('/img/noise.webp');
  pointer-events: none;
}

html {
  height: 100%;
}

svg {
  stroke-width: 1.3 !important;
}

body {
  background: rgb(var(--clr-bg));
  min-height: 100%;
  color: rgb(var(--clr-fg));
  font-family: "Lenora-Bold";
  font-family: "Lenora-Thin";
  font-family: "Erotique";
  font-family: "kudryashev";
  font-family: 'Almarena-Light';

}

.logo{
  font-family: "Erotique";
  font-size: 1.5rem;
}

a{
  color: rgb(var(--clr-fg));
  text-decoration: none;
}
::placeholder{
  color: rgba(var(--clr-fg), 0.8);
}

/* index.ejs */

header{
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  font-family: "Erotique";

}
header img{
  height: 100%;
  width: 100%;
  object-position: center center;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.material_section{
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FBF7F6;
}



.material_section .material_article{
  display: flex;
  flex-grow: 1;
  padding: 0 3rem;
  justify-content: center;
  align-items: center;
}
.material_section .material_article .category_text{
  width: 40%;
  height: 100%;
}
.material_section .material_article .category_text h4{
  margin-bottom: 1rem;

}
.material_section .material_article> ul{
  width: 60%;

}


.material_article>ul ul {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  list-style: none;
}
.material_article>ul a {
  color: rgb(var(--clr-fg));
}






/* Global */

a.underline_hover{
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

a.underline_hover::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  background-color: rgba(var(--clr-fg), .5);
  height: 1px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a.underline_hover:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}






/* Needs fixing */

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main  section.products_section {
  padding: 10% 3rem 3rem 3rem;
}

nav a {
  text-decoration: none;
  color: rgb(var(--clr-fg));
}

nav.nav_main {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3rem;
  z-index: 101;
  pointer-events: none;
  display: grid;
  grid-template-columns: .1fr 1fr .1fr;
}
nav.nav_main div {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

nav.nav_main li {
  gap: 1rem;
  list-style: none;
  pointer-events: auto;
}

.nav_right li {
  display: flex;
  align-items: center;
}
nav.nav_main  .cart_bag_li{
  display: flex;
  gap: 0 !important;
  position: relative;
}
nav.nav_main  .cart_bag_li span{
  position: absolute;
  top: 0;
  right: -10px;
}

section {
  padding: 1rem;
}

.main_menu{
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  position: relative;
  
}


.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: rgb(var(--clr-fg));
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}


.bar--top {
  bottom: calc(50% + 7px + 2px/ 2);
  transition-property: bottom,transform;
  transition-delay: 0.2s,0s;
}

.bar--middle {
  top: calc(50% - 2px/ 2);
  transition-property: opacity;
  transition-delay: 0.2s;
}

.bar--bottom {
  top: calc(50% + 7px + 2px/ 2);
  transition-property: top,transform;
  transition-delay: 0.2s,0s;
}

.main_menu.close .bar--top {
  bottom: calc(50% - 2px/ 2);
  transform: rotate(135deg);
  transition-delay: 0s,0.2s;
}

.main_menu.close .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: 0.2s;
}

.main_menu.close .bar--bottom {
  top: calc(50% - 2px/ 2);
  transform: rotate(225deg);
  transition-delay: 0s,0.2s;
}

.dropdown{
  position: fixed;
  background: rgb(var(--clr-bg));
  width: 100%;
  top: 0;
  padding: 9rem 3rem 3rem 7rem;
  display: flex;
  gap: 10vw;
  z-index: 10;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  border-bottom: 0.2px solid rgba(var(--clr-fg), .5);
}

.dropdown.inView{
  visibility: visible;
  opacity: 1;
}

.dropdown > li{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.dropdown > li ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dropdown > li ul a{
  color: rgba(var(--clr-fg), 0.8);
}


body.isHidden{
  overflow: hidden;
  height: 100vh;
  position: fixed;
  inset: 0;
}

.no-page {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.no-page div {
  margin: auto;
  font-family: "Erotique";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.no-page h1 {
  font-size: 20vw;
  font-weight: 100;
}
.no-page a {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  color: rgb(var(--clr-fg));
  text-decoration: none;
}

li{
  list-style: none;
}

.wrap_p{
  position: relative;
  /* border: 1px solid red; */
  height: 35px;
  overflow: hidden;
  width: 100%;
}
.wrap_p.small{
  height: 20px;
}
.wrap_p.stylish{
  margin: 3rem;
}
.wrap_p.stylish .wrap_c{
  padding-bottom: 0.5rem;
  font-family: "Erotique";

}

.wrap_p.margin_b{
  margin: 3rem 0;
}
.wrap_p .wrap_c{
  position: absolute;
  top: 100%;
  width: 100%;
  transition: 0.7s ease;
}
.wrap_p.after .wrap_c::after{
  position: absolute;
  content: '';
  height: 1px;
  width: 0;
  right: 0;
  bottom: 0;
  background: rgb(var(--clr-fg));
  transition: 1s ease;
}
.wrap_p.inView .wrap_c{
  top: 0;
}
.wrap_p.after.inView .wrap_c::after{
  width: 100%;
}

[animate]{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease 0.5s;
}
[animate].inView{
  visibility: visible;
  opacity: 1;
}


.history_back{
  cursor: pointer;
}




.img_container {
  width: 417px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.img_wrapper {
  width: 217px;
  height: 217px;
}

.img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Has to be fixed */
form input,
form select,
textarea {
  background-color: transparent;
  color: rgb(var(--clr-fg));
  border: 1px solid  rgb(var(--clr-fg));
  padding: 1rem;
  outline: none;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
}

label {
  display: flex;
  align-items: center;
  gap: .5rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  padding: 0;
}

form textarea {
  resize: vertical;
  min-height: 48px;
}

form select option {
  background: rgb(var(--clr-bg));
}

form input[type="date"] {
  width: max-content;
}

button {
  background-color: transparent;
  color: rgb(var(--clr-fg));
  border: 1px solid currentColor;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  transition: color .5s ease .1s;
}

button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: rgb(var(--clr-fg));
  transition: height .2s ease;
  transform-origin: bottom;
}

button:hover::before {
  height: 100%;
}

button:hover {
  color: rgb(var(--clr-bg));
}






/* footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}


.footer__logo a {
  font-family: 'Erotique', cursive;
  color: rgb(var(--clr-fg));
  font-weight: 400;
  font-size: 1.5rem;

}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  color: #999;
  display: flex;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swipper_content h4{
  text-align: right;
}


svg .logo-path {
  stroke: rgb(27, 23, 22) ;
  fill: transparent;
  stroke-width: 1;
  transition: fill .5s ease-in;
}

