.products_section *{
  transition: 1s;

}
.products_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 3vw; */
}
.products_section ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: calc(7vmax - 57px) 7vmax;  
}

.products_section ul li{
  list-style: none;
  
  border: .1px solid var(--clr-fg);
  border-right: 0;
  border-bottom: 0;
  overflow: hidden;
  width: 320px;
  opacity: 0;
  visibility: hidden;
  transition: .5s ease-in;
  /* background: #FBF7F6; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px, rgba(0, 0, 0, 0.02) 0px 4px 6px -2px; */

}

.products_section ul li.inView{
  opacity: 1;
  visibility: visible;
}
.products_section ul li:nth-child(3n+3){
  border-right: .1px solid var(--clr-fg);

}

.products_section ul li a{
  text-decoration: none;
  color: var(--clr-fg);
}

.products_section ul li .details{
  padding: .5rem 0rem;
  /* min-height: 160px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  gap: 5px;
}
.products_section ul li .details h3, strong{
  font-size: 1rem;
}

.products_section ul li .details span{
  display: flex;
  justify-content: space-between
}
.products_section ul li .details span.category{
  font-weight: 100;
  color: rgba(var(--clr-fg), 0.7);
}
.products_section ul li .img{
  width: 320px;
  height: 320px;
  background: #FBF7F6;
  /* padding-bottom: 80px; */
}
.products_section ul li div img{
  height: 100%;
  width: 100%;
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: darken; */
}


.filter_wrapper{
  position: fixed;
  left: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
}
 
.filter_wrapper form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(var(--clr-fg));
}
.filter_wrapper form h4{
  padding-left: 0.5rem;
}
.filter_wrapper form article{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  gap: .5rem;
}








/* admin */
.filter_section{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter_section form{
  display: flex;
  flex-direction: row;
}
.filter_section form div{
  display: flex;
  gap: 1rem;
}
.filter_section .search_container{
  width: 100%;
  padding: 3rem;
  position: sticky  ;
}
.filter_section .search_container .input-search{
  width: 100%;
  background-color: transparent;
  color: rgb(var(--clr-fg));
  border: 1px solid currentColor;
  padding: 1rem;
  outline: none;
  
}
.filter_section .search_container .input-search:focus + .form_container {
  background: red;
}
.filter_section form .select_label{
  position: relative;
  width: max-content;
  height: max-content;
}
.filter_section form .select_label input[type="checkbox"]{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: transparent;
  color: rgb(var(--clr-fg));
  border: none;
  padding: 1rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}

.filter_section form .select_label.selected {
  text-decoration: underline;
  color: rgba(var(--clr-fg), 0.7);
}
.discount_section{
  height: 26px;
  overflow: hidden;
  padding: 0 3rem;
}
.discount_section h1{
   cursor: pointer;
   width: max-content;
   user-select: none;
   position: relative;
   margin-bottom: 2rem;
}
.discount_section h1 span{
  position: absolute;
  left: calc(100% + 10px);
  width: 100%;

}
.discount_section.resize{
  height: max-content;
}
.products_section .product_discount_checkbox{
  visibility: hidden;
  opacity: 0;
}
.products_section .product_discount_checkbox.show{
  visibility: visible;
  opacity: 1;
}




#checklist {
  --text: #414856;
  position: relative;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  justify-content: center;
}

#checklist label {
  color: rgba(var(--clr-fg), 0.8);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
  user-select: none;
}

#checklist label::before, #checklist label::after {
  content: "";
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: rgb(var(--clr-fg));
  border-radius: 2px;
  transition: background 0.3s ease;
  opacity: 0;
}


#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  display: grid;
  align-items: center;
  margin-right: 20px;
}



#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}


#checklist input[type="checkbox"]:checked + label {
  color: rgba(var(--clr-fg), .5);
  animation: move 0.3s ease 0.1s forwards;
}


#checklist input[type="checkbox"]:checked + label::before {
  background: rgba(var(--clr-fg), .5);
  animation: slice 0.4s ease forwards;
}


@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
    opacity: 1;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
    opacity: 1;

  }
}
