main{
  margin-top: 6rem;
}
section.profil{
  padding: 3rem;
}
section.profil .formm{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
section h1{
  border-bottom: 0.2px solid rgba(var(--clr-fg), 0.5);
  padding-bottom: 18px;
  margin-bottom: 2rem;
  height: 50px;
  font-size: 1.5rem;
}

section.profil article > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

section.profil article > div div {
  display: flex;
  gap: 1rem;
}
section.profil article > div div input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 0.3px solid rgba(var(--clr-fg), 0.7);
}
section.profil article > div div input[type="checkbox"] {
  width: 200px;
  align-self: flex-end;
  position: relative;
  -webkit-appearance: none; 
  -moz-appearance: none; 
   appearance: none;
   cursor: pointer;
  outline: 1px solid rgb(var(--clr-fg));
}
section.profil article > div div input[type="checkbox"]:checked {
  background: rgb(var(--clr-fg));
  color: rgb(var(--clr-bg));
}
section.profil article > div div input[type="checkbox"]::before {
  position: absolute;
  content: 'Uredi';
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.profil article:last-of-type div{
  justify-content: flex-end;
}

section.profil a.logout button{
  border-color: red;
  color: red;
  align-self: flex-end;
}
section.profil a.logout button:hover{
  color: rgba(var(--clr-bg), 1);
}
section.profil a.logout button::before{
  background: red;
}

section.user_orders_section{
  padding: 3rem;
}

section.user_orders_section table{
  width: 100%;
  border-collapse:collapse ;
  /* margin-top: 2rem; */
}
section.user_orders_section table th{
  text-align: left;
  padding: 1rem;
  border-top: 0.3px solid rgba(var(--clr-fg), 0.7);
  background: rgba(var(--clr-fg), 1);
  color: rgb(var(--clr-bg));

}
section.user_orders_section table td{
  padding: 1rem;
  border-bottom: 0.3px solid rgba(var(--clr-fg), 0.7);
}

section.user_orders_section table tbody tr:hover{
  cursor: pointer;
  background: rgba(var(--clr-fg), 0.9);
  color: rgba(var(--clr-bg), 1);
}

.order_search{
  background-color: transparent;
  color: rgb(var(--clr-fg));
  border: 1px solid currentColor;
  padding: 1rem;
  outline: none;
  width: 100%;
  margin: 2rem 0;
}

.delivered{
  color: rgba(var(--clr-fg), 0.6);
}