    
.section__users ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.section__users ul table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.section__users ul table th{
  letter-spacing: 0.5px;
  font-variant: small-caps;
}
.section__users ul table tr{
  border-bottom: 1px solid rgba(var(--clr-fg), 0.3);
}
.section__users ul table tr[data-role="admin"]{
  color: black;
}
.section__users ul table tr[data-role="regular_user"]{
  color: blue;
}
.section__users ul table tr[data-role="guest"]{
  color: red;
}
.section__users ul table td,
.section__users ul table th {
  padding: 1rem;

}
